<!DOCTYPE HTML>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  {% include "style.html" %}
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Language<span class="logo_colour">Study</span></a></h1>
          <h2>С нами всё просто</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Главная</a></li>
          <li><a href="/categories/">Категории</a></li>
          <li><a href="/create_category/">Создать категорию</a></li>
          <li><a href="/courses/">Курсы</a></li>
          <li><a href="/create_course/">Создать курс</a></li>
          <li><a href="/students/">Студенты</a></li>
          <li><a href="/create_student/">Создать студента</a></li>
          <li><a href="/add_student/">Добавить студента</a></li>
          <li><a href="/contacts/">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% block body %}{% endblock %}
  <div id="footer">
    <p><a href="/">Главная</a> | <a href="/categories/">Категории</a> | <a href="/courses/">Курсы</a> | <a href="/students/">Студенты</a> | <a href="/contacts/">Контакты</a></p>
    <p>Copyright &copy; LanguageStudy | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Simple web templates by HTML5</a></p>
  </div>

</body>
</html>
