{% extends "base.html" %}
{% block title %}
	Главная
{% endblock %}
{% block body %}
    {% if error %}
        <div id="site_content">
            <h4>{{error}}</h4>
            <p>{{ objects_list }}</p>
        </div>
    {% else %}
    <div id="site_content">
        <h1>Список курсов</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span><a href="/copy-course/?name={{item.name}}">скопировать</a></span>
        </li>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
