{% extends "base.html" %}
{% block title %}
	Главная
{% endblock %}

{% block body %}
    {% if error %}
        <div id="site_content">
            <h4>{{error}}</h4>
        </div>
    {% else %}
    <div id="site_content">
        <h1>Создание курса для категории "{{name}}"</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Название">
            <button type="submit">Сохранить и вернуться к списку курсов</button>
        </form>
    </div>
    {% endif %}    
{% endblock %}
