{% extends "base.html" %}
{% block title %}
	Главная
{% endblock %}

{% block body %}
<div id="site_content">
  <div class="sidebar">
    <h1>Latest News</h1>
    <h4>New Website Launched</h4>
    <h5>July 16st, 2023</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ad pariatur quam? Necessitatibus vitae aut saepe nostrum eveniet nesciunt illum!<br /><a href="#">Read more</a></p>
    <h1>Useful Links</h1>
    <ul>
      <li><a href="#">link 1</a></li>
      <li><a href="#">link 2</a></li>
      <li><a href="#">link 3</a></li>
      <li><a href="#">link 4</a></li>
    </ul>
    <h1>Search</h1>
    <form method="post" action="#" id="search_form">
      <p>
        <input class="search" type="text" name="search_field" value="Enter keywords....." />
        <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
      </p>
    </form>
  </div>
  <div id="content">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos placeat, minima ab cumque ipsa ipsum?</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo illum, perferendis atque, modi error a est nemo non odit quaerat adipisci? Minus facilis quis quos vitae. Eligendi magni ad officiis reprehenderit laborum sint quibusdam, sed culpa unde aperiam non ratione, officia repellendus, atque quod ducimus. Nobis accusantium incidunt ipsam harum, enim saepe rem dicta soluta quis voluptates eaque eveniet temporibus illo dolorum ab in non dignissimos veritatis, atque vitae optio? Dolore tempore nam aut deserunt provident libero unde. Fugiat, molestias? Voluptatibus esse incidunt corporis dolore consectetur, pariatur quas similique sequi deleniti a dolor expedita dolorum explicabo sit hic id aliquam?</p>
  </div>
</div>
{% endblock %}

